<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brunogerassicasamassa.testroompersistence">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.brunogerassicasamassa.testroompersistence.utils.BackgroundService" />

        <service
            android:name="com.example.brunogerassicasamassa.testroompersistence.jobscheduler.CustomJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.example.brunogerassicasamassa.testroompersistence.jobscheduler.NotifyLocationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".utils.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.SongListActivity"></activity>
        <activity android:name=".activities.UserListActivity"></activity>

    </application>

</manifest>